@model ProjectIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (ProjectModel item in Model.ProjectList.Items)
{
    <tr>
        <td>@item.ID</td>
        <td>@item.Name</td>
    </tr>
}
