@model ProjectManager.Models.ModuleModel

@{
    ViewBag.Title = "添加模块";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
    <script type="text/javascript">
        function success(data) {
            SuccessTip(data.Msg);
        }
    </script>
}
@using (Ajax.BeginForm("add", "Module", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "success" }, new { @class = "form-horizontal" }))
{
    <div class="m-form f-cb">
        <dl class="f-cb s-borderbg">
             <dt><i>*</i>@Html.LabelFor(m => m.Name)</dt>
            <dd>
                @Html.TextBoxFor(m => m.Name, new { @class = "u-iptl" })
            </dd>
            <dt></dt>
            <dd>
                <input type="submit" class="u-btnblue" value="保存">
                <input type="button" class="u-btnblue marl10" value="取消">
            </dd>
        </dl>
    </div>
}
