<div class="g-hd">
        <div class="m-hd f-cb">
            <div class="m-menu">
                <ul>
                    <li class="z-crt"><a>系统管理</a></li>
                    <li><a>权限管理</a></li>
                    <li><a>资源管理</a></li>
                    <li><a>用户管理</a></li>
                </ul>
            </div>
        </div>
    </div>