@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>
<body>
    <!-- 头部 -->
    <div class="g-hd">
        <div class="m-hd"><a>公共管理员后台</a></div>
    </div>
    <!-- /头部 -->

    <!-- 主体 -->
    <div class="m-bgw f-cb">
        <div class="g-con">
            <div class="m-con">
                <div class="m-login">
                    <h3>您好，请登录</h3>
                    <p class="z-err">@ViewBag.Error</p>
                    <dl class="f-cb">
                        @Html.BeginForm("Index","login",FormMethod.Post){
                            <dt>登录名：</dt>
                            <dd>
                                <input type="text" class="u-ipt" name="code"/></dd>
                            <dt>密码：</dt>
                            <dd>
                                <input type="text" class="u-ipt" name="pwd"/>
                            </dd>
                            <dt></dt>
                            <dd class="mart15">
                                <input type="submit" value="登录" class="u-btn" /></dd>
                        }
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <!-- /主体 -->

    <!-- 尾部 -->
    @Html.Partial("FooterPartialView")
    <!-- /尾部 -->
</body>
</html>

